<nav class="navbar navbar-expand-md navbar-light">
  <a href="#" class="navbar-brand text-logo">
    <span>
      <img src="../../../assets/logo.png" width="30" height="40" alt="Logo Scout ">
    </span>
    <span class="text-brand text-size" >scout</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav ml-auto">
      <a class="pr-4 nav-item nav-link active text-size" href="#">Product<span class="sr-only">(current)</span></a>
      <a class="pr-4 nav-item nav-link text-size" href="#">About</a>
      <a class="pr-4 nav-item nav-link text-size" href="#">Pricing</a>
      <button class="btn btn-primary text-size">Get Started</button>
    </ul>
  </div>
</nav>